* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
    font-family: 'Times New Roman', Times, serif;
}


body, html {
    height: 100vh; 
    width: 100vw;
    display: flex;
    background-color: rgb(215, 239, 231);
}
.root {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .header h1 {
        font-size: 4vw;
        font-family: monospace;
        color: rgb(33, 33, 31);
    }

.content {
    flex: 2;
    display: flex;
}
    .left-section {
        flex: 2;
        display: flex;
        flex-direction: column;
    }
        .custom-options {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
            input[type='color']::-webkit-color-swatch-wrapper {
                padding: 0;
          }
          
            input[type='color']::-webkit-color-swatch {
                border: none;
                border-radius: 50px;
                box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
          }
            #colorPicker {
                margin-right: 13%;
                width: 80px;
                height: 80px;
                border: none;
                background-color: rgb(215, 239, 231);
            }
            #colorPicker:hover {
                transform: scale(1.05);
            }

            .left-section button {
                width: 40%;
                padding: 8px 0px;
                font-size: 1vw;
                border-radius: 10px;
            }
            .left-section button:hover {
                transform: scale(1.03);
            }





    .calculator-area {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
        .calculator {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85%;
            width: 60%;
            border-radius: 10px;
            background-color:  rgb(33, 33, 31);
            box-shadow: -3px 3px 10px #4e4e4e;
        }
        .display-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 85%;
            width: 80%;
            gap: 5%;
        }
            .screen {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 18%;
                width: 100%;
                background-color: rgb(144, 144, 129);
                padding-right: 5%;
                font-size: 1.5vmax;
                border-radius: 3px;
            }
            .buttons-display {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: 2%;
            }
                .column {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 2%;
                }
                    .column button {
                        flex: 1;
                        background-color: #cbcbcb;
                        border-radius: 3px;
                        opacity: 1;
                        font-size: 1vw;
                    }
                    .column button:hover {
                        opacity: 0.9;
                    }
                    #number {
                        opacity: 0.7;
                    }
                    #number:hover {
                        opacity: 0.6;
                    }
                    #equals {
                        opacity: 0.85;
                    }
                    #equals:hover {
                        opacity: 0.75;
                    }

    .right-section {
        flex: 1;
    }

.footer {
    flex: 1;
}

.zoomed {
    transform: scale(1.4);
}